:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #05051a;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
}

#root {
	width: 100vw;
	height: 100vh;
}

button {
	outline: none;
	border: none;
	box-shadow: none;
}

button:focus,
button:focus-visible {
	outline: none !important;
	box-shadow: none !important;
}
